.site-header{

	/*background:
	linear-gradient(0deg, rgba(52, 148, 230, 0.8), rgba(236, 110, 173, 0.8)70%),
	url(img/smartphone.jpg);	 */
	

	background:
	linear-gradient(0deg, rgba(52, 148, 230, 0.6), rgba(236, 110, 173, 0.6)70%),
	url(img/smartphone.jpg);
	
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 600px;
	background-position: 50% 50%;
}
.site-navigation{
}
.flex-center{
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
}
.logo{
	font-weight: bold;
}
.hero-title{
	position: relative;
	z-index: 2;
	padding: 30px;
	margin: 0;
}
.hero-subtitle{
	padding: 0;
	position: relative;
	font-size: 1.60rem;
	margin-bottom: 50px;
}
.section-title{
	font-weight: bold;
	font-size: 2.0em;
}
.section-quote{
	font-size: 1.20em;
}
.section{
	margin-bottom: 35px;
}
.section-btn{
	margin-bottom: 20px;
}

/* Media queries */
@media (max-width: 768px){
	.site-header{
		min-height: 400px;
	}
	.flex-center{
		height: 400px;
	}
	.hero-title{
		padding: 0;
		font-size: 2.7rem;
	}
	.hero-subtitle{
		font-size: 1.2rem;
	}
}
