.site-header{
	/*background:
	linear-gradient(0deg, rgba(52, 148, 230, 0.8), rgba(236, 110, 173, 0.8)70%),
	url(img/smartphone.jpg);	 */
	background:
	linear-gradient(0deg, rgba(29, 67, 80, 0.95), rgba(164, 57, 49, 0.85)70%),
	url(img/smartphone.jpg);	
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 600px;
	background-position: 50% 50%;
}
/*Landing Page Menus */
.main-menu-search{
	width: 400px;
}
.site-navigation{
}
.flex-center{
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
}
.logo{
	font-weight: bold;
}
.hero-title{
	position: relative;
	z-index: 2;
	padding: 30px;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5em;
}
.hero-subtitle{
	padding: 0;
  position: relative;
  font-size: 1.15rem;
  margin-bottom: 50px;
  font-family: 'Montserrat';
  margin-top: 5px;
}
.site-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.section-title{
	font-weight: bold;
	font-size: 1.6em;
}
.section-quote{
	font-size: 1.0em;
}
.section-text{
	font-size: 0.95em;
}
.section{
	margin-bottom: 35px;
	flex-basis: 400px;
}
.section-btn{
	margin-bottom: 20px;
}
/*---------------SHOP SECTION OF CSS------------------ */
.shop-header, .shop-content, .shop-footer{
	padding-left: 300px;
}
.navbar-title{

	font-size: 2.3em;
	font-weight: bold;
}
.navbar-title a{
	color: #161616;	
}
.breadcrumb-container{
	padding: 0;
  margin: 30px 0 30px 0;
  height: 15px;
  line-height: 15px;
}
.breadcrumb-nav{
	line-height: 15px;
	margin-left: 30px;
}
.breadcrumb{
	font-size: 0.9em;
}
.breadcrumb:before{
	color: #616161;
}
.shop-heading{
	padding: 0;
	margin: 10px;
	font-weight: bold;
}
.products-container{
	margin: 0 20px 0 20px;
}
.card-price{
	font-size: 23px;
	font-weight: bold;
}

/*-------------Materialize rewrite--------- */
.input-field label{
	transform: translateY(0);
}
.card .card-image{
	background:
	linear-gradient(0deg, rgba(29, 67, 80, 0.95), rgba(164, 57, 49, 0.85)70%);
}
.card .card-content{
	padding: 24px 24px 10px 24px;
}

/* Media queries */
@media (max-width: 768px){
	.site-header{
		min-height: 400px;
	}
	.flex-center{
		height: 400px;
	}
	.hero-title{
		padding: 0;
		font-size: 2.7rem;
	}
	.hero-subtitle{
    font-size: 1.05rem;
    margin-top: 10px;
    width: 80%;
    margin-bottom: 40px;
	}
	.site-content{
	flex-direction: column;
	}
	.section{
		margin-bottom: 5px;
		flex-basis: 300px;
		padding: 0.1em 1em 0.1em 1em;
	}
	/*---------------SHOP SECTION OF CSS------------------ */
	.shop-header, .shop-content, .shop-footer{
		padding-left: 0;
	}
	.cart-menu-btn{
		margin: 0 18px;
	}
	.shop-heading{
		padding: 0;
		margin: 20px;
	}


}
